@mixin mobileNav {
  @media only screen and (max-width: ($mobileChromeBreakpoint - 1)) { @content; }
}

@mixin collapsedNav {
  @media only screen and (min-width: $mobileChromeBreakpoint) {
    body.nav-collapsed & {
      @content;
    }
  }
}

// see spreadsheet:
// https://docs.google.com/a/google.com/spreadsheets/d/1uRo0gp-OraeM2Cn2bqxSLt0iH1PeFOmb-39UdBuTt-g/edit
@mixin canvasWidthLessThan($width) {
  @media only screen and (max-width: ($width - 1)) {
    // covers mobile
    @content;
  }

  @media only screen and (min-width: $mobileChromeBreakpoint) and (max-width: ($width - 1 + $expandedNavWidth)) {
    // covers non-mobile, expanded nav
    body:not(.nav-collapsed) & {
      @content;
    }
  }

  @media only screen and (min-width: $mobileChromeBreakpoint) and (max-width: ($width - 1 + $collapsedNavWidth)) {
    // covers non-mobile, collapsed nav
    body.nav-collapsed & {
      @content;
    }
  }
}

@mixin canvasWidthBetween($minWidth, $maxWidth) {
  @media only screen and (min-width: $minWidth) and (max-width: $mobileChromeBreakpoint) {
    // covers mobile
    @content;
  }

  @media only screen and (min-width: ($minWidth + $expandedNavWidth)) and (max-width: ($maxWidth + $expandedNavWidth)) {
    // covers non-mobile, expanded nav
    body:not(.nav-collapsed) & {
      @content;
    }
  }

  @media only screen and (min-width: ($minWidth + $collapsedNavWidth)) and (max-width: ($maxWidth + $collapsedNavWidth)) {
    // covers non-mobile, collapsed nav
    body.nav-collapsed & {
      @content;
    }
  }
}

@mixin canvasWidthGreaterThanOrEqualTo($width) {
  @media only screen and (min-width: $width) and (max-width: $mobileChromeBreakpoint) {
    // covers mobile
    @content;
  }

  @media only screen and (min-width: ($width + $expandedNavWidth)) {
    // covers non-mobile, expanded nav
    body:not(.nav-collapsed) & {
      @content;
    }
  }

  @media only screen and (min-width: ($width + $collapsedNavWidth)) {
    // covers non-mobile, collapsed nav
    body.nav-collapsed & {
      @content;
    }
  }
}
