.login-area {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;

  .logged-in-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    .display-name {
      font-size: 13px;
      line-height: 16px;
      color: $colorBlackTextSecondary;
      font-weight: 500;
    }

    .avatar {
      width: 40px;
      height: 40px;
      margin-left: 16px;
      border-radius: 50%;
    }

    md-menu {
      padding: 0;
    }

    .more-button {
      margin: 0;

      .material-icons {
        color: $colorBlackTextSecondary;
      }
    }
  }
}
