// https://www.google.com/design/spec/style/typography.html#typography-line-height

@mixin type-display-1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  // usually paired with secondary text color
}

@mixin type-headline {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@mixin type-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

@mixin type-subheading {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

@mixin type-body-2 {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

@mixin type-body-1 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

@mixin type-caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  // usually paired with secondary text color
}
