.studio-splitter {
  position: absolute;
  z-index: 100;

  $splitterWidth: 4px;

  &:hover,
  &.is-dragging {
    background-color: rgba(#000, .1);
  }

  &.splt-vertical {
    top: 0;
    bottom: 0;
    width: $splitterWidth;
    cursor: col-resize;
  }

  &.splt-horizontal {
    left: 0;
    right: 0;
    height: $splitterWidth;
    cursor: row-resize;
  }

  &.splt-edge-left {
    left: 0;
  }

  &.splt-edge-right {
    right: 0;
  }

  &.splt-edge-top {
    top: 0;
  }

  &.splt-edge-bottom {
    bottom: 0;
  }
}

body.studio-splitter-dragging-horizontal::after,
body.studio-splitter-dragging-vertical::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

body.studio-splitter-dragging-vertical::after {
  cursor: col-resize !important;
}

body.studio-splitter-dragging-horizontal::after {
  cursor: row-resize !important;
}

